<form class="form">
    <h1 class="form__header">CHECKOUT</h1>

    <h2 class="form__sectionHeader">EMAIL ADDRESS</h2>
    <label class="form__label">Email address:</label>
    <input class="form__input" type="email" placeholder="Email">

    <h2 class="form__sectionHeader">DELIVERY ADDRESS</h2>
    <label class="form__label">Full name:</label>
    <input class="form__input" type="text" placeholder="Full name">
    <label class="form__label">Address:</label>
    <input class="form__input" type="password" placeholder="Address">
    <label class="form__label">Country:</label>
    <input class="form__input" type="password" placeholder="Country">
    <label class="form__label">City:</label>
    <input class="form__input" type="password" placeholder="City">

    <h2 class="form__sectionHeader">PAYMENT TYPE</h2>
    <label class="form__label">Card number:</label>
    <input class="form__input" type="text" placeholder="Card number" maxlength="16">

    <label class="form__label">Expiry date:</label>
    <div class="paymentSelect">
        <app-select [options]="['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12']" placeholder="Month"
            width="100px"></app-select>
        <app-select [options]="['2021', '2022', '2023', '2024', '2025', '2026', '2027', '2028', '2029', '2030', '2031']"
            placeholder="Year" width="100px"></app-select>
    </div>

    <label class="form__label">Name on card:</label>
    <input class="form__input" type="text" placeholder="Name on card">

    <label class="form__label">CVV:</label>
    <input class="form__input" type="text" placeholder="CVV" maxlength="4">

    <button class="form__button" type="submit">PAY 3000</button>
</form>