@import '../../../../../config.scss';

.mainContainer {
    display: flex;
    flex-direction: column;

    &__header {
        text-align: center;
        font-size: 3rem;
        font-weight: 500;
        padding: 5px;
        color: #fff;
        background-color: #000;
    }

    &__image {
        width: 600px;
        height: auto;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 8px;

    }
}