@import '../../../../config.scss';

.about {
    padding: 0 map-get($sizes, minimal-padding);

    .aboutInner {
        margin: 0 auto;
        max-width: map-get($sizes, web-width);
        display: flex;
        flex-direction: column;
        align-items: center;

        &__header {
            font-size: 6rem;
        }
    
        &__description {
            font-size: 2.5rem;
            text-align: justify;
        }
    }

    .imageContainer {
        display: flex;
        flex-direction: column;
        position: relative;
        max-width: map-get($sizes, web-width);
        margin: 15px auto;
        
        &__image {
            max-width: 100%; 
            height: auto;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 8px;
        }

        &__link {
            transition: all .3s ease;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate( -50%, -50% );
            text-align: center;
            border: 3px solid #000;
            padding: 20px;
            font-size: 3rem;
            font-weight: bold;
            color: white;
            background-color: black;
            text-decoration: none;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 8px;

            &:hover {
                color: #000;
                background-color: #fff;
            }
        }
    }


}

