<main class="about">
    <div class="aboutInner">
        <h1 class="aboutInner__header">About us.</h1>
        <p class="aboutInner__description">Everything you wanted to know about your fave fashion brand. And then
            some.Everything
            you wanted to know about your fave fashion brand. And then some.Everything you wanted to know about your
            fave
            fashion brand. And then some.Everything you wanted to know about your fave fashion brand. And then
            some.Everything you wanted to know about your fave fashion brand. And then some.</p>
    </div>
    <div class="imageContainer">
        <img class="imageContainer__image"
            src="https://media.gq.com/photos/5f18840776fefd81a4ea95de/master/pass/basics-v1.jpg">
        <a class="imageContainer__link" routerLink="/">Start shopping now!</a>
    </div>


</main>