<main class="about">
    <div class="aboutInner">
        <h1 class="aboutInner__header">About us.</h1>
        <p class="aboutInner__description">Everything you wanted to know about your fave fashion brand. And then
            some.Everything
            you wanted to know about your fave fashion brand. And then some.Everything you wanted to know about your
            fave
            fashion brand. And then some.Everything you wanted to know about your fave fashion brand. And then
            some.Everything you wanted to know about your fave fashion brand. And then some.</p>
    </div>
</main>