<main class="container">
    <div class="innerContainer">
        <h1 class="innerContainer__header">MY DETAILS!</h1>

        <label class="innerContainer__label">Username:</label>
        <input class="innerContainer__input" type="text" placeholder="Username">
        <label class="innerContainer__label">Email address:</label>
        <input class="innerContainer__input" type="email" placeholder="Email">
        <label class="innerContainer__label">New password:</label>
        <input class="innerContainer__input" type="password" placeholder="Password">
        <label class="innerContainer__label">Password:</label>
        <input class="innerContainer__input" type="password" placeholder="Password">
        <label class="innerContainer__label">Repeat password:</label>
        <input class="innerContainer__input" type="password" placeholder="Password">
        <button class="innerContainer__button" type="submit">Save changes</button>
    </div>
</main>