<main class="main">
    <div class="main__item main__item--1">
        <img class="categoryImage" src="../../../../assets/images/model.png" alt="item">
        <a class="categoryText" href="/">Shirts</a>
    </div>
    <div class="main__item main__item--2">
        <img class="categoryImage" src="../../../../assets/images/model.png" alt="item">
        <a class="categoryText" href="/">Shirts</a>
    </div>
    <div class="main__item main__item--3">
        <img class="categoryImage" src="../../../../assets/images/model.png" alt="item">
        <a class="categoryText" href="/">Shirts</a>
    </div>
    <div class="main__item main__item--4">
        <img class="categoryImage" src="../../../../assets/images/model.png" alt="item">
        <a class="categoryText" href="/">Shirts</a>
    </div>
    <div class="main__item main__item--5">
        <img class="categoryImage" src="../../../../assets/images/model.png" alt="item">
        <a class="categoryText" href="/">Shirts</a>
    </div>
    <div class="main__item main__item--6">
        <img class="categoryImage" src="../../../../assets/images/model.png" alt="item">
        <a class="categoryText" href="/">Shirts</a>
    </div>
</main>