<nav class="nav">
    <div class="innerNav">
        <a class="navLink" routerLink="/">Home</a>
        <div class="innerNav__divider">&nbsp;</div>
        <div class="linkContainer">
            <a class="navLink navLink--gender" routerLink="/" [queryParams]="{ gender: 'men' }">Men</a>
            <div class="linkCategories">
                <div class="linkCategoriesInner">
                    <a class="linkCategoriesInner__link" routerLink="/"
                        [queryParams]="{ gender: 'men', category: 1 }">ALL</a>
                    <a class="linkCategoriesInner__link" routerLink="/"
                        [queryParams]="{ gender: 'men', category: 2 }">Jeans</a>
                    <a class="linkCategoriesInner__link" routerLink="/"
                        [queryParams]="{ gender: 'men', category: 3 }">Jackets</a>
                    <a class="linkCategoriesInner__link" routerLink="/"
                        [queryParams]="{ gender: 'men', category: 4 }">Coats</a>
                    <a class="linkCategoriesInner__link" routerLink="/"
                        [queryParams]="{ gender: 'men', category: 5 }">T-Shirts</a>
                    <a class="linkCategoriesInner__link" routerLink="/"
                        [queryParams]="{ gender: 'men', category: 6 }">Sneakers</a>
                    <a class="linkCategoriesInner__link" routerLink="/"
                        [queryParams]="{ gender: 'men', category: 7 }">Hats</a>
                </div>
            </div>
        </div>
        <div class="innerNav__divider">&nbsp;</div>
        <div class="linkContainer">
            <a class="navLink navLink--gender" routerLink="/" [queryParams]="{ gender: 'women' }">Women</a>
            <div class="linkCategories">
                <div class="linkCategoriesInner">
                    <a class="linkCategoriesInner__link" routerLink="/"
                        [queryParams]="{ gender: 'women', category: 1 }">ALL</a>
                    <a class="linkCategoriesInner__link" routerLink="/"
                        [queryParams]="{ gender: 'women', category: 2 }">Jeans</a>
                    <a class="linkCategoriesInner__link" routerLink="/"
                        [queryParams]="{ gender: 'women', category: 3 }">Jackets</a>
                    <a class="linkCategoriesInner__link" routerLink="/"
                        [queryParams]="{ gender: 'women', category: 4 }">Coats</a>
                    <a class="linkCategoriesInner__link" routerLink="/"
                        [queryParams]="{ gender: 'women', category: 5 }">T-Shirts</a>
                    <a class="linkCategoriesInner__link" routerLink="/"
                        [queryParams]="{ gender: 'women', category: 6 }">Sneakers</a>
                    <a class="linkCategoriesInner__link" routerLink="/"
                        [queryParams]="{ gender: 'women', category: 7 }">Hats</a>
                </div>
            </div>
        </div>
        <div class="innerNav__divider">&nbsp;</div>

        <input class="innerNav__searchInput" type="text" placeholder="Search for items, brands and whatever..." />

        <div class="innerNavIconContainer">
            <svg class="icon" routerLink="/profile">
                <use xlink:href="assets/icons/main.svg#profile"></use>
            </svg>
            <div class="iconDropDown">
                <div class="iconDropDownHeader">
                    <a routerLink="/login" class="iconDropDownHeader__subscriptions">Sing in</a>
                    <div class="iconDropDownHeader__divider">&nbsp;</div>
                    <a routerLink="/register" class="iconDropDownHeader__subscriptions">Join</a>
                </div>
                <div class="iconDropDownMain">
                    <a routerLink="/" class="iconDropDownMain__link">My account</a>
                    <a routerLink="/" class="iconDropDownMain__link">My orders</a>
                </div>
            </div>
        </div>

        <div class="innerNav__divider innerNav__divider--withMargin"></div>

        <svg class="icon" routerLink="/shopping-bag">
            <use xlink:href="assets/icons/main.svg#bag"></use>
        </svg>
    </div>
</nav>