@import '../../../../config.scss';

.nav {
    z-index: 1;
    position: sticky;
    top: 0;
    height: 70px;
    background-color: map-get($colors, dark);
    padding: map-get($sizes, minimal-padding);
}

.innerNav {
    height: 100%;
    display: flex;
    align-items: center;
    max-width: map-get($sizes, web-width);
    margin: 0 auto;

    .navLink {
        transition: all .3s ease;
        color: #FFF;
        font-size: 4rem;
        font-weight: 500;
        text-decoration: none;
        padding: 10px 20px;

        &--gender {
            padding: 23px 20px;
            font-size: 2rem;
        }
        
        &:hover {
            background-color: map-get($colors, dark-hover);
        }
    }

    &__divider {
        width: 1px;
        height: 100%;
        background-color: map-get($colors, divider);

        &--withMargin {
            margin: 0 25px;
        }
    }
   
    &__searchInput {
        transition: all .3s ease;
        width: 100%;
        min-width: 200px;
        border: 2px solid transparent;
        margin: 0 40px;
        font-size: 1.6rem;
        border-radius: 20px;
        padding: 8px 16px;

        &:focus {
            border-color: map-get($colors, dark-hover);
        }
    }

    .icon {
        cursor: pointer;
        transition: all .3s ease;
        min-width: 30px;
        min-height: 30px;
        max-width: 30px;
        max-height: 30px;
        fill: map-get($colors, icon-fill);
        outline: none;

        &:hover {
            fill: map-get($colors, icon-fill-hover);
        }
    }

    .innerNavIconContainer {
        position: relative;
        height: 100%;
        display: flex;
        align-items: center;

        &:hover .iconDropDown {
            display: flex;
        }

        .iconDropDown {
            width: 300px;
            position: absolute;
            top: 100%;
            right: 0;
            display: none;
            box-shadow: 2px 2px 3px #4e4e4e, 0 2px 3px #4e4e4e inset;
            background-color: #fff;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;

            &__subscriptions {
                margin: 0 auto;
                font-size: 1.8rem;
                padding: 5px;
            }

            &__divider {
                width: 1px;
                background-color: #000;
            }
        }
    }
}

.linkContainer {
    height: 100%;
    display: flex;
    align-items: center;

    &:hover .linkCategories {
        display: block;
    }

    .linkCategories {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        display: none;
        background-color: map-get($colors, nav-categories-background);
        box-shadow: 0 4px 3px #2e2e2e inset;

        .linkCategoriesInner {
            max-width: map-get($sizes, web-width);
            margin: 0 auto;
            display: flex;

            &__link {
                color: #fff;
                text-decoration: none;
                padding: 20px 15px;
                font-size: 1.7rem;

                &:hover {
                    background-color: #fff;
                    color: map-get($colors, nav-categories-background);
                    box-shadow: 0 4px 3px #2e2e2e inset;
                }
            }
        }
    }
}