<nav class="nav">
    <div class="innerNav">
        <a class="innerNav__link" routerLink="/">Home</a>

        <div class="innerNav__divider">&nbsp;</div>

        <a class="innerNav__link innerNav__link--gender" routerLink="/?gender=men">Men</a>
        <a class="innerNav__link innerNav__link--gender" routerLink="/?gender=women">Women</a>

        <input class="innerNav__searchInput" type="text" placeholder="Search for items, brands and whatever..." />

        <svg class="innerNav__icon" routerLink="/profile">
            <use xlink:href="assets/icons/main.svg#profile"></use>
        </svg>

        <!-- <div class="innerNav__dropdownMenu">
            <a class="innerNav__dropdownMenu__links" href="/">My account</a>
            <a class="innerNav__dropdownMenu__links" href="/">My orders</a>
        </div> -->

        <div class="innerNav__divider innerNav__divider--withMargin"></div>

        <svg class="innerNav__icon" routerLink="/bag">
            <use xlink:href="assets/icons/main.svg#bag"></use>
        </svg>
    </div>

    <!-- <div class="lowerNav">
        <a class="lowerNav__Buttons" href="/">Category</a>
        <a class="lowerNav__Buttons" href="/">Category</a>
        <a class="lowerNav__Buttons" href="/">Category</a>
        <a class="lowerNav__Buttons" href="/">Category</a>
        <a class="lowerNav__Buttons" href="/">Category</a>
        <a class="lowerNav__Buttons" href="/">Category</a>
        <a class="lowerNav__Buttons" href="/">Category</a>
    </div> -->
</nav>