@import '../../config.scss';

.productContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid red;
    margin-top: 20px;

    &__image {
        border: 3px solid red;
    }

    &__description {
        font-size: 2rem;
        flex-direction: column;
    }

    // &__title {
    //     background-color: wheat;
    //     font-size: 3rem;
    // }

    &__button {
        display: flex;
        flex-direction: column;
        border: 3px solid red;
    }
}