<form class="form">
    <h2 class="form__header">Need help? Contact us</h2>

    <div class="formInputs">
        <label class="formInputs__label">Topic</label>
        <app-select [options]="['delivery', 'returns & refunds', 'order issues', 'technical']"
            placeholder="Select topic" width="300px"></app-select>
        <label class="formInputs__label">Describe your problem:</label>
        <textarea class="formInputs__textarea" placeholder="Right your concerns"></textarea>
    </div>

    <button class="form__submit" type="submit">Send EMAIL</button>
</form>