<form class="contactForm">
    <h2 class="contactForm__header">Need help? Contact us</h2>

    <div class="inputContainer">
        <label class="inputContainer__header">Topic</label>
        <select class="inputContainer__options">
            <option value="delivery">Delivery</option>
            <option value="returns & refunds">Returns & Refunds</option>
            <option value="order issues">Order issues</option>
            <option value="technical">Technical</option>
        </select>
        <label class="inputContainer__header">Describe your problem:</label>
        <input class="inputContainer__options" type="textarea" placeholder="Right your concerns" size="50">
    </div>

    <button class="contactForm__button" type="button">Send EMAIL</button>
</form>