@import '../../../../config.scss';

.contact {
    padding: 0 map-get($sizes, minimal-padding);
    border: 1px solid black;

    .contactInner {
        margin: 0 auto;
        max-width: map-get($sizes, web-width);
        display: flex;
        flex-direction: column;
        align-items: center;

        &__header {
            font-size: 6rem;
        }
    
        &__button {
            background-image: linear-gradient(rgba(#000, .5), rgba(#000, .5)), url('../../../../assets/images/contact.jpg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            border: 1px solid #000;
            border-radius: 8px;
            padding: 20px 40px;
            color: #fff;
            font-size: 1.8rem;
        }
    }
}
 