<main class="container">
    <div class="productContainer">
        <div class="productInfo">
            <img class="productInfo__image" src="https://m.media-amazon.com/images/I/61fTX5TjAEL._UL1001_.jpg">
            <span class="productInfo__title">Jacket</span>
        </div>
        <div class="productDetails">
            <span class="productDetails__price">Price: 100$</span>
            <span class="productDetails__description">JacketJackeketJacketJacketJacket</span>
        </div>
    </div>
    <div class="productContainer">
        <div class="productInfo">
            <img class="productInfo__image"
                src="https://cdn11.bigcommerce.com/s-pkla4xn3/images/stencil/1280x1280/products/25920/238630/Mens-Jeans-Denim-Pocket-Pants-Summer-Autumn-Thin-Slim-Regular-Fit-Straight-Jeans-Elasticity-Stretchy-Male__97861.1549624429.jpg?c=2">
            <span class="productInfo__title">Jeans</span>
        </div>
        <div class="productDetails">
            <span class="productDetails__price">Price: 200$</span>
            <span class="productDetails__description">JeansJeansJeansJeansJeansJeansJeans</span>
        </div>
    </div>
    <div class="productContainer">
        <div class="productInfo">
            <img class="productInfo__image"
                src="https://i.pinimg.com/736x/65/38/db/6538db135849f0a7285b30bf2d781be7.jpg">
            <span class="productInfo__title">Coat</span>
        </div>
        <div class="productDetails">
            <span class="productDetails__price">Price: 500$</span>
            <span class="productDetails__description">CoatCoatCoatCoatCoatCoatCoat</span>
        </div>
    </div>

    <div *ngIf="!getOnCheckoutView()" class="checkoutContainer" (click)="onCheckoutClick()">
        <span class="checkoutContainer__title">TOTAL</span>
        <span class="checkoutContainer__totalPrice">Sub-total - 800$</span>
        <button class="checkoutContainer__button" type="submit">CHECKOUT</button>
    </div>

    <app-checkout *ngIf="getOnCheckoutView()"></app-checkout>
</main>