<form class="registerForm">
    <h1 class="registerForm__registerHeader">Register</h1>
    <div class="registerForm__inputsContainer">
        <label class="registerForm__inputsContainer__registerInputsHeaders">Email address:</label>
        <input class="registerForm__inputsContainer__registerInputs" type="email" placeholder="Email" size="50">
        <label class="registerForm__inputsContainer__registerInputsHeaders">Username:</label>
        <input class="registerForm__inputsContainer__registerInputs" type="text" placeholder="Username" size="50">
        <label class="registerForm__inputsContainer__registerInputsHeaders">Password:</label>
        <input class="registerForm__inputsContainer__registerInputs" type="password" placeholder="Password" size="50">
        <button class="registerForm__inputsContainer__registerButton" type="submit">Register</button>
    </div>
    <hr class="registerForm__divider">
</form>