$sizes: (
    web-width: 1400px,
    minimal-padding: 10px,
);

$colors: (
    dark: #313131,
    dark-hover: #919191,
    lower-footer-background: #b6b6b6,
    footer-shadow: #646464,
    icon-fill: #fff,
    icon-fill-hover: #aaaaaa,
    divider: #c7c7c7,
    main-hover: #71bdfc,
    contact-text: #24531a,
    facebook-primary: #3b5998,
    nav-categories-background: #868686,
);