$sizes: (
    web-width: 1400px,
    minimal-padding: 10px,
);

$colors: (
    nav-background: #161616,
    nav-hover: #3b3b3b,
    divider: #c7c7c7,
    search-bar-hover: #aad9ff,
    footer-text: #666,
    footer-background: #E0E0E0 ,
    lower-footer-background: #D3D3D3,
);