<main class="container">
    <h1 class="container__title">MY ORDERS!</h1>

    <div class="innerContainer">
        <div class="productContainer">
            <span class="productContainer__title">Jacket</span>
            <img class="productContainer__image" src="https://m.media-amazon.com/images/I/61fTX5TjAEL._UL1001_.jpg">
            <button class="productContainer__button">VIEW ORDER</button>
        </div>
        <div class="productContainer">
            <span class="productContainer__title">Jeans</span>
            <img class="productContainer__image"
                src="https://static.pullandbear.net/2/photos/2020/I/0/1/p/5682/307/427/5682307427_1_1_3.jpg?t=1605439254478">
            <button class="productContainer__button">VIEW ORDER</button>
        </div>
        <div class="productContainer">
            <span class="productContainer__title">T-shirt</span>
            <img class="productContainer__image"
                src="https://shop.tate.org.uk/dw/image/v2/BBPB_PRD/on/demandware.static/-/Sites-TateMasterShop/default/dwaa107262/tate-logo-black--tshirt-back-g1086.jpg?sw=556">
            <button class="productContainer__button">VIEW ORDER</button>
        </div>
        <div class="productContainer">
            <span class="productContainer__title">T-shirt</span>
            <img class="productContainer__image"
                src="http://cdn.shopify.com/s/files/1/2143/3217/products/500_bc4752af-c02e-44db-933b-d16827d8ee47_grande.png?v=1608580449">
            <button class="productContainer__button">VIEW ORDER</button>
        </div>
    </div>
</main>