:host {
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;

    &__title {
        text-align: center;
        font-size: 3rem;
        font-weight: 500;
        padding: 7px;
        color: #fff;
        background-color: #000;
    }
}

.innerContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.productContainer {
    display: flex;
    flex-direction: column;
    margin-top: 5px;

    &__title {
        text-align: center;
        font-size: 2rem;
        font-weight: 500;
    }

    &__image {
        width: 100%;
        height: 200px;
        object-fit: contain;
        margin: 5px 0;
    }

    &__button {
        transition: all .3s ease;
        font-size: 2rem;
        padding: 10px;
        color: #000;
        background-color: #fff;
        border: 2px solid #000;
        box-shadow: 0px 5px 8px #0000003d;

        &:hover {
            color: #fff;
            background-color: #000;
        }
    }
}