<div class="main">
    <main class="mainInner">
        <div class="toolbar">
            <span class="toolbar__username">Hi, username</span>
            <a class="toolbar__link" routerLink="/profile/account-overview">Account overview</a>
            <a class="toolbar__link" routerLink="/profile/my-orders">My orders</a>
            <a class="toolbar__link" routerLink="/profile/my-details">My details</a>
        </div>
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </main>
</div>