<main class="login">
    <form class="loginForm">
        <h1 class="loginForm__header">Login</h1>

        <label class="loginForm__label">Email address:</label>
        <input class="loginForm__input" type="email" placeholder="Email">
        <label class="loginForm__label">Password:</label>
        <input class="loginForm__input" type="password" placeholder="Password">
        <button class="loginForm__button" type="submit">Login</button>

        <h1 class="loginForm__divider">Or login with facebook</h1>
        <a class="loginSocial">
            <svg class="loginSocial__icon" routerLink="/">
                <use xlink:href="assets/icons/main.svg#facebook"></use>
            </svg>
        </a>
    </form>
</main>