<form class="loginForm">
    <h1 class="loginForm__header">Login</h1>
    <div class="inputContainer">
        <label class="inputContainer__loginHeader">Email address:</label>
        <input class="inputContainer__loginInput" type="email" placeholder="Email" size="50">
        <label class="inputContainer__loginHeader">Password:</label>
        <input class="inputContainer__loginInput" type="password" placeholder="Password" size="50">
        <button class="inputContainer__loginButton" type="submit">login</button>
    </div>

    <h1 class="loginForm__divider">Or login with facebook</h1>

    <svg class="loginForm__icon" routerLink="/">
        <use xlink:href="assets/icons/main.svg#facebook"></use>
    </svg>

</form>