<footer class="footerContainer">
    <div class="footerContainer__aboutLinks">
        <a class="footerContainer__aboutLinks__contentHeader" href="#">About</a>
        <a class="footerContainer__aboutLinks__content" href="#">About</a>
        <a class="footerContainer__aboutLinks__content" href="#">About</a>
    </div>

    <div class="footerContainer__helpLinks">
        <a class="footerContainer__helpLinks__contentHeader" href="#">Privacy & Cookies</a>
        <a class="footerContainer__helpLinks__content" href="#">Privacy & Cookies</a>
        <a class="footerContainer__helpLinks__content" href="#">Privacy & Cookies</a>
    </div>

    <div class="footerContainer__moreLinks">
        <a class="footerContainer__moreLinks__contentHeader" href="#">More</a>
        <a class="footerContainer__moreLinks__content" href="#">More</a>
        <a class="footerContainer__moreLinks__content" href="#">More</a>
    </div>
</footer>
<footer class="lowerFooter">
    <p class="lowerFooter__rights">© 2021 SHOP</p>
</footer>