@import '../../config.scss';

.footerContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  bottom: 0;
  position: fixed;
  height: 20vh;
  margin-bottom: 15px;
  background-color: map-get($colors, footer-background);
  
  &__aboutLinks {
    display: flex;
    flex-direction: column;  
    align-items: flex-start;
    flex-basis: 100%;
    flex: 2;
    margin-left: 5px;

    &__contentHeader {
      font-size: 2rem;
      color:  map-get($colors, footer-text);
      margin: 11px 10px;
      text-decoration: none;
    }

    &__content {
      font-size: 1.5rem;
      color:  map-get($colors, footer-text);
      margin: 11px 10px;
      text-decoration: none;
    }
  }
  
  &__helpLinks {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-basis: 100%;
    flex: 2;

    &__contentHeader {
      font-size: 2rem;
      color:  map-get($colors, footer-text);
      margin: 11px 10px;
      text-decoration: none;
    }

    &__content {
      font-size: 1.5rem;
      color:  map-get($colors, footer-text);
      margin: 11px 10px;
      text-decoration: none;
    }
  } 

  &__moreLinks {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-basis: 100%;
    flex: 2;

    &__contentHeader {
      font-size: 2rem;
      color:  map-get($colors, footer-text);
      margin: 11px 10px;
      text-decoration: none;
    }

    &__content {
      font-size: 1.5rem;
      color:  map-get($colors, footer-text);
      margin: 11px 10px;
      text-decoration: none;
    }
  } 
}

.lowerFooter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  bottom: 0;
  position: fixed;
  background-color: map-get($colors, lower-footer-background);
  height: 5vh;

  &__rights {
    font-size: 1.5rem;
    color:  map-get($colors, footer-text);
    margin: 11px 10px;
  }
}