<div class="mainContainer">
    <div class="gridContainer">
        <figure class="gridContainer__item gridContainer__item--1">
            <img src="../../assets/pictures/model.png" class="gridContainer__img" alt="Image 1">
            <a class="categoryLinks" href="/">Shirts</a>
        </figure>
        <figure class="gridContainer__item gridContainer__item--2">
            <img src="../../assets/pictures/model.png" class="gridContainer__img" alt="Image 2">
            <a class="categoryLinks" href="/">Shirts</a>
        </figure>
        <figure class="gridContainer__item gridContainer__item--3">
            <img src="../../assets/pictures/model.png" class="gridContainer__img" alt="Image 3">
            <a class="categoryLinks" href="/">Shirts</a>
        </figure>
        <figure class="gridContainer__item gridContainer__item--4">
            <img src="../../assets/pictures/model.png" class="gridContainer__img" alt="Image 4">
            <a class="categoryLinks" href="/">Shirts</a>
        </figure>
        <figure class="gridContainer__item gridContainer__item--5">
            <img src="../../assets/pictures/model.png" class="gridContainer__img" alt="Image 5">
            <a class="categoryLinks" href="/">Shirts</a>
        </figure>
        <figure class="gridContainer__item gridContainer__item--6">
            <img src="../../assets/pictures/model.png" class="gridContainer__img" alt="Image 6">
            <a class="categoryLinks" href="/">Shirts</a>
        </figure>
    </div>
</div>