<footer class="footer">
    <div class="upperFooter">
        <div class="upperFooterInner">
            <div class="footerMain">
                <div class="footerLinksContainer">
                    <h2 class="footerLinksContainer__header">About</h2>
                    <a class="footerLinksContainer__link" routerLink="/about">About</a>
                    <a class="footerLinksContainer__link" routerLink="/about">About</a>
                </div>

                <div class="footerLinksContainer">
                    <h2 class="footerLinksContainer__header">Privacy & Cookies</h2>
                    <a class="footerLinksContainer__link" routerLink="/">Privacy & Cookies</a>
                    <a class="footerLinksContainer__link" routerLink="/">Privacy & Cookies</a>
                </div>

                <div class="footerLinksContainer">
                    <h2 class="footerLinksContainer__header">Contact</h2>
                    <a class="footerLinksContainer__link" routerLink="/contact">Contact</a>
                    <a class="footerLinksContainer__link" routerLink="/contact">Contact</a>
                </div>

                <div class="footerLinksContainer">
                    <h2 class="footerLinksContainer__header">More</h2>
                    <a class="footerLinksContainer__link" routerLink="/">More</a>
                    <a class="footerLinksContainer__link" routerLink="/">More</a>
                </div>
            </div>
        </div>
    </div>

    <div class="lowerFooter">
        <div class="lowerFooterInner">
            <span class="footerRights">© 2021 SHOP</span>
        </div>
    </div>
</footer>