<form class="registerForm">
    <h1 class="registerForm__registerHeader">Register</h1>
    <div class="inputContainer">
        <label class="inputContainer__registerHeader">Email address:</label>
        <input class="inputContainer__registerInput" type="email" placeholder="Email" size="50">
        <label class="inputContainer__registerHeader">Username:</label>
        <input class="inputContainer__registerInput" type="text" placeholder="Username" size="50">
        <label class="inputContainer__registerHeader">Password:</label>
        <input class="inputContainer__registerInput" type="password" placeholder="Password" size="50">
        <label class="inputContainer__registerHeader">Repeat password:</label>
        <input class="inputContainer__registerInput" type="password" placeholder="Password" size="50">
        <button class="inputContainer__registerButton" type="submit">Register</button>
    </div>
    <span class="registerForm">Or</span>

</form>