<main class="register">
    <form class="registerForm">
        <h1 class="registerForm__header">Register</h1>

        <label class="registerForm__label">Email address:</label>
        <input class="registerForm__input" type="email" placeholder="Email">
        <label class="registerForm__label">Username:</label>
        <input class="registerForm__input" type="text" placeholder="Username">
        <label class="registerForm__label">Password:</label>
        <input class="registerForm__input" type="password" placeholder="Password">
        <label class="registerForm__label">Repeat password:</label>
        <input class="registerForm__input" type="password" placeholder="Password">
        <button class="registerForm__button" type="submit">Register</button>

        <h1 class="registerForm__divider">Or register with facebook</h1>
        <a class="registerSocial">
            <svg class="registerSocial__icon" routerLink="/">
                <use xlink:href="assets/icons/main.svg#facebook"></use>
            </svg>
        </a>
    </form>
</main>