<nav class="nav">
    <div class="mainNav">
        <a class="mainNav__Button" href="/">Home</a>
        <div class="mainNav__divider"></div>
        <a class="mainNav__genderButton" href="/">Men</a>
        <a class="mainNav__genderButton" href="/">Women</a>

        <input class="mainNav__searchBar" type="text" placeholder="Search for items, brands and whatever..." size="70">

        <a href="/" class="mainNav__icons">
            <img src="../../assets/icons/user.svg" alt="profile">
        </a>
        <div class="mainNav__divider"></div>
        <a href="/" class="mainNav__icons">
            <img src="../../assets/icons/bag.svg" alt="shopping bag">
        </a>
    </div>

    <div class="lowerNav">
        <a class="lowerNav__Buttons" href="/">Category</a>
        <a class="lowerNav__Buttons" href="/">Category</a>
        <a class="lowerNav__Buttons" href="/">Category</a>
        <a class="lowerNav__Buttons" href="/">Category</a>
        <a class="lowerNav__Buttons" href="/">Category</a>
        <a class="lowerNav__Buttons" href="/">Category</a>
        <a class="lowerNav__Buttons" href="/">Category</a>
    </div>

</nav>