@import '../../config.scss';

.nav {
    top: 0;
    position: sticky;
    height: 70px;
    z-index: 1;
    background-color: map-get($colors, nav-background);
}

.mainNav {
    height: 100%;
    display: flex;
    align-items: center;
    max-width: map-get($sizes, web-width);
    margin: 0 auto;
    
    &__Button {
        transition: all .3s ease;
        color: #FFF;
        font-size: 2rem;
        text-decoration: none;
        padding: 23px 20px;
        
        &:hover {
            background-color: map-get($colors, nav-hover);
        }
    }

    &__genderButton {
        transition: all .3s ease;
        color: #FFF;
        font-size: 2rem;
        text-decoration: none;
        padding: 23px 20px;
        
        &:hover {
            background-color: map-get($colors, nav-hover);
        }

        &:focus {

        }
    }

    &__divider {
        width: 1px;
        height: 100%;
        background-color: map-get($colors, divider);
    }
   
    &__searchBar {
        transition: all .3s ease;
        display: flex;
        margin-left: 50px;
        font-size: 2rem;
        border-radius: 20px;
        padding: 8px;

        &:focus {
            border: 2px solid map-get($colors, search-bar-hover);
        }
    }

    &__icons {
        transition: all .3s ease;
        display: flex;
        width: 30px;
        height: 30px;
        margin: 50px;
        filter: invert(100%) sepia(0%) saturate(7494%) hue-rotate(144deg) brightness(98%) contrast(100%);

        &:hover {
            filter: invert(12%) sepia(0%) saturate(1757%) hue-rotate(189deg) brightness(95%) contrast(70%);
        }
    }
    
}

.lowerNav {
    height: 100%;
    display: flex;
    align-items: center;
    max-width: map-get($sizes, web-width);
    margin: 0 auto;
    
    &__Buttons {
        transition: all .3s ease;
        color: #FFF;
        font-size: 2rem;
        text-decoration: none;
        padding: 23px 20px;
        
        &:hover {
            background-color: map-get($colors, nav-hover);
        }
    }
}
